<Context antiResourceLocking="true">

   <Resource name="BeanManager" 
      auth="Container"
      type="javax.enterprise.inject.spi.BeanManager"
      factory="org.jboss.weld.resources.ManagerObjectFactory"/>
      
   <ResourceLink name="ProcessEngineService"
            global="global/camunda-bpm-platform/process-engine/ProcessEngineService!org.finos.flowave.bpm.ProcessEngineService"
            type="org.finos.flowave.bpm.ProcessEngineService" />
            
   <ResourceLink name="ProcessApplicationService"
            global="global/camunda-bpm-platform/process-engine/ProcessApplicationService!org.finos.flowave.bpm.ProcessApplicationService"
            type="org.finos.flowave.bpm.ProcessApplicationService" />
            
   <ResourceLink name="ProcessEngineDataSource" global="jdbc/ProcessEngine" type="javax.sql.DataSource"/>
            
</Context>